html,
body {
    /* height: 100%; */
    width: 100%;
    margin: 0;
    padding: 0;
    scroll-snap-type: y mandatory;
}

.ant-typography-title {
    font-size: 10dvw;
}

.glass {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.homePage {
    /* height: 100vh; */
    width: 100vw;
    left: calc(-50vw + 50%);
    right: calc(-50vw + 50%);

    /* min-height: 100vh; */
    /* background-color: red; */
    /* overflow-y: hidden; */
    /* background-image: url("../assets/img/bubbles_static.png"); */
    background-color: rgba(0, 0, 0, 1);
    /* background-blend-mode: color-burn; */
    /* background-size: cover; */
    background-attachment: fixed;
    background-position: bottom right;
    background-size: cover;

    font-size: larger;
}

.section {
    /* top: 10%; */
    height: 100vh;
    width: 100vw;
    scroll-snap-align: start;
    scroll-margin-top: -30px;
    justify-content: center;
    align-items: center;
    position: relative;
    /* background-color: rebeccapurple; */
}

.section-inner {
    margin: 0;
    /* margin-left: 1rem; */
    margin: 15px 10px;
    padding: 1rem;

    .ant-typography {
        color: whitesmoke !important;
    }
}

.intro-section {
    /* height: 100vh; */
    justify-content: flex-start;
    /* background-color: rgb(255, 0, 166); */
    /* background-image: url("../assets/img/bubbles_static.png"); */
    /* background-position: bottom; */
    /* display: flex; */
    /* background-image: url('../assets/img/Auroras_blend.png'); */
    background-image: url('../assets/img/Auroras_sig.png');
    background-size: 100% 100%;
    /* background-size: contain; */
    /* background-repeat:no-repeat; */
}

.intro {
    /* margin: 0;
    margin-left: 1rem;
    padding: 1rem; */
    width: 65vw;
    height: 75vh;
    /* align-content: flex-start; */
    /* position: absolute; */
    /* top: 50%; */
    /* -ms-transform: translateY(-50%);
    transform: translateY(-50%); */

    /* > .ant-typography {
        color: whitesmoke !important;
    } */
}

.intro-img-img {
    border-radius: 75% !important;
    /* top: 50%; */
    /* transform: translateX(-50%); */
    /* align-items: center;
    justify-content: center; */
}

.exp-section {
    /* height: 100vh; */
    /* background-color: aqua; */
}

.experience {
    /* margin: 0;
    margin-left: 1rem;
    padding: 1rem; */
    width: 85vw;
    /* min-height: 85vh; */
    /* > .ant-typography,
    div .ant-typography {
        color: whitesmoke !important;
    } */

    .exp-title {
        font-size: 3.5vmin !important;
    }
}

.exp-infos {
    width: 60%;

    .exp-pos {
        font-size: 3vmin !important;
    }

    .exp-company {
        margin-top: 0 !important;
        font-size: 2.5vmin !important;
    }

    .exp-description {
        font-size: 2vmin !important;
        /* font-size: 1.65vmin !important; */
    }
}

.skills {
    width: 75vw;
    /* min-height: 75vh; */

    .skills-title {
        font-size: 3.5vmin !important;
    }
}

.skills-info {
    width: 60%;

    .skills-group-title {
        margin-top: 1.5rem;
        font-size: 2.5vmin;
    }
}

.skill-tag {
    border-color: aqua;
    color: aqua;
    border-radius: 10px !important;
    font-size: 2vmin;
}
